.overview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 24px;
}

.overview-header #header {
  color: var(--Black-12, #1A181E);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */}

.lastmonth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
height: 36px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.lastmonthtext {
  color: var(--Black-30, #4D4D4D);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-right: 7px;
}

.overview-content {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
}

.overview-item {
  display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
border-radius: var(--Spacing-spacing-04, 8px);
background: var(--Black-100, #FFF);
/* Shadow/Card */
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

.overview-title {
  color: var(--Black-30, #4D4D4D);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-bottom: 16px;
}

.overview-value {
  color: var(--Black-12, #1A181E);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}