.transactions-table-container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.transactions-header {
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  margin-bottom: 20px;
}

.table {
  display: flex;
  padding: 12px 12px 24px 12px;
  flex-direction: column;
  align-items: flex-end;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);

  /* Shadow/Card */
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

.table-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 12px;
}

.table-filters .searchbar {
display: flex;
padding: 10px 16px;
align-items: center;
gap: 8px;
/* flex: 1 0 0; */
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.table-filters .searchbar input {
  color: var(--Black-60, #999);

/* Body 2/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
border: none;
}

.table-filters-btns {
  display: flex;
justify-content: flex-end;
align-items: center;
gap: 12px;
}

.downloadbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
width: 36px;
height: 36px;
}

.table-filters .sort {
  display: flex;
padding: 6px 12px;
align-items: center;
gap: 6px;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.transactions-table {
  width: 100%; /* Adjust width as needed */
  border-collapse: collapse; /* Collapse borders */
}

thead {
  border-radius: 4px;
  background: #f2f2f2;
  padding: 10px 12px;
  gap: 40px;
}

th {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 10px 12px;
}

/* th {
  padding: 10px 12px;
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
} */

#blue-color {
  color: var(--Primary-Blue, #146eb4);

  /* Body 2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

td {
  padding: 14px 12px;
  color: var(--Black-12, #1A181E);

/* Body 2/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.transactions-table th,
.transactions-table td {
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #e0e0e0; /* Add a bottom border to each cell */
}

.pagination {
  display: flex;
  align-self: center;
  justify-content: center; /* Center the pagination buttons */
  gap: 24px;
  margin-top: 24px;
}

.prevbtn {
  display: flex;
padding: 6px 12px 6px 6px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.prevtext {
  color: var(--Black-30, #4D4D4D);
text-align: center;

/* Body 2/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.nextbtn {
  display: flex;
padding: 6px 6px 6px 12px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.nexttext {
  color: var(--Black-30, #4D4D4D);
text-align: center;

/* Body 2/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.numbers {
  display: flex;
align-items: flex-start;
gap: var(--Spacing-spacing-04, 8px);
}

.numbers div {
  display: flex;
width: 28px;
height: 28px;
padding: 6px 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
color: var(--Black-30, #4D4D4D);
text-align: center;

/* Body 2/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

#selected {
  display: flex;
width: 28px;
height: 28px;
padding: 6px 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 4px;
background: var(--Primary-Blue, #146EB4);
color: var(--Black-100, #FFF);
text-align: center;

/* Body 2/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}